h1 {
    font-family: 'Dosis', sans-serif;
    font-family: 'Pangolin', cursive;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-family: 'Pangolin', cursive;
}

li {
    font-family: 'Dosis', sans-serif;
    font-family: 'Pangolin', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
    font-family: 'Pangolin', cursive;
    font-size: "30px";
}